<div class="bio">
    <img src="{{ .Site.Params.authorImage }}" alt="Author Image" class="bio-image">
    <h3>{{ .Site.Params.authorName }}</h3>
    <p>{{ .Site.Params.authorBio }}</p>
    <div class="bio-links">
        <a href="{{ .Site.Params.github }}"><i class="fab fa-github"></i></a>
        <a href="{{ .Site.Params.instagram }}"><i class="fab fa-instagram"></i></a>
        <a href="{{ .Site.Params.facebook }}"><i class="fab fa-facebook"></i></a>
        <a href="{{ .Site.Params.linkedin }}"><i class="fab fa-linkedin"></i></a>
        <a href="{{ .Site.Params.website }}"><i class="fas fa-link"></i></a>
    </div>
</div>
